Repository th-koeln/open-product-evaluation-server, pull requests merged in 2018-07, with the labels that each got.

#64 Statische Werte für Secrets in IdStore
  config.js
  src/utils/idStore.js
Labels: testing

#66 Device Resolvers und Model
  src/entities/device/device.model.js
  src/entities/device/device.resolvers.js
Labels: graphql

#80 Survey graphql
  src/entities/survey/survey.graphql
  src/entities/survey/survey.model.js
  src/entities/survey/survey.resolvers.js
  src/entities/survey/survey.schema.js
  src/entities/user/user.model.js
  src/entities/user/user.resolvers.js
Labels: graphql

#78 Question graphql
  config.js
  seeds/data/question/question.js
  src/entities/question/question.graphql
  src/entities/question/question.model.js
  src/entities/question/question.resolvers.js
  src/entities/question/question.schema.js
Labels: graphql

#81 Refactor device
  seeds/data/device/device.js
  src/entities/device/device.graphql
  src/entities/device/device.model.js
  src/entities/device/device.resolvers.js
Labels: graphql

#84 fixed owners fieldResolver in contextResolvers
  src/entities/context/context.resolvers.js
Labels: bug

#87 Vote graphql
  seeds/data/question/question.js
  seeds/data/survey/survey.js
  seeds/data/vote/vote.js
  src/datamodel.graphql
  src/entities/context/context.model.js
  src/entities/context/context.resolvers.js
  src/entities/device/device.model.js
  src/entities/device/device.resolvers.js
  src/entities/survey/survey.model.js
  src/entities/vote/vote.graphql
  src/entities/vote/vote.model.js
  src/entities/vote/vote.resolvers.js
  src/entities/vote/vote.schema.js
  src/utils/answerStore.js
Labels: graphql, mongodb

#96 Auth middleware updated
  src/entities/context/context.graphql
  src/entities/context/context.resolvers.js
  src/entities/context/context.schema.js
  src/entities/device/device.resolvers.js
  src/entities/device/device.schema.js
  src/entities/image/image.model.js
  src/entities/image/image.resolvers.js
  src/entities/image/image.schema.js
  src/entities/question/question.model.js
  src/entities/question/question.resolvers.js
  src/entities/question/question.schema.js
  src/entities/survey/survey.resolvers.js
  src/entities/survey/survey.schema.js
  src/entities/user/user.resolvers.js
  src/entities/user/user.schema.js
  src/entities/vote/vote.resolvers.js
  src/entities/vote/vote.schema.js
  src/index.js
  src/utils/answerStore.js
  src/utils/authMiddleware.js
  src/utils/imageStore.js
Labels: bug, graphql, mongodb

#97 Filter contexts by QuestionType
  .gitignore
  config.js
  public/images/default/dislikeIcon.png
  public/images/default/likeIcon.png
  seeds/data/image/image.js
  seeds/data/survey/survey.js
  src/entities/context/context.resolvers.js
  src/entities/image/image.model.js
  src/entities/image/image.resolvers.js
  src/entities/question/question.model.js
  src/entities/question/question.resolvers.js
  src/entities/survey/survey.resolvers.js
  src/entities/survey/survey.schema.js
  src/index.js
  src/utils/imageStore.js
  static/images/default/angry.png
  static/images/default/dislikeIcon.png
  static/images/default/eval1.jpeg
  static/images/default/eval2.jpeg
  static/images/default/happy.png
  static/images/default/likeIcon.png
Labels: graphql, mongodb
